<!-- <div>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
    <app-card [place]="placeData"></app-card>
</div> -->

<!-- <div class="container">
    <div *ngFor="let  item of places">
        <app-card [place]="item"></app-card>
    </div>
</div> -->

<!-- <div>
    <app-display-url></app-display-url>
</div> -->
<div class="home">
    <router-outlet></router-outlet>
</div>